.cabecalho {
    height: 80px;
    background-color: var(--cor-fundo-header);
    position: relative;
}

.cabecalho nav {
    padding: 16px 16px 16px 0;
    display: flex;
    justify-content: space-between;
}

.cabecalho__container-primario {
    display: flex;
    gap: 24px;
    align-items: center;
    padding-left: 24px;
}

.cabecalho__container-primario img {
    width: 40px;
    height: 40px;
}

.cabecalho__menu-hamburger {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url(../img/Menu.svg);
    background-size: 36px 24px;
    background-position: center;
    background-repeat: no-repeat;
}


.lista-menu {
        display: none;
        position: absolute;
        top: 100%;
        width: 72.8vw;
        left: 0px;
}

.lista-menu__item {
    padding: 16px 0 16px 24px;
    background: var(--cor-fundo-header);
}

#item-destaque {
    color: var(--cor-de-destaque);
    font-weight: 700;
    background: none;
}

.lista-menu__link {
    text-decoration: none;
    background: var(--cor-fundo-banner);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;

}

.container__botao {
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}
.container__botao:checked ~.rotulo>.cabecalho__menu-hamburger{
    background-image: url(../img/Vector.svg);
}
.container__botao:checked ~.rotulo{
    background: var(--cor-fundo-banner);
}

.cabecalho__container-secundario {
    display: flex;
    gap: 8px;
    align-items: center;
    max-height: 44px;
}

.cabecalho__titulo,
.opcoes,
.categorias,
.opcoes__botao,
.cabecalho__descricao-icone {
    display: none;
}

/*************************************************TABLETS***********************************************************/
@media screen and (min-width: 1024px) {
    .cabecalho {
        padding-inline: 35px 80px;
    }

    .cabecalho__menu-hamburger,
    #coracao {
        display: none;
    }

    .opcoes {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .categorias {
        position: absolute;
        top: 70%;
        background-color: var(--cor-fundo-header);
        padding-bottom: 8px;
    }

    .lista-menu__item-opcoes {
        padding: 16px 24px;

    }

    .opcoes__botao:checked~.categorias {
        display: block;
    }


    .opcoes__item {
        padding: 10px 32px 10px 10px;
        font-style: normal;
        line-height: normal;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--color-dark);
    }

    .cabecalho__titulo {
        display: block;
        font-family: var(--fonte-secundaria);
        font-weight: 400;
        font-size: 30px;
        font-style: normal;
        line-height: normal;
        color: var(--color-dark);
    }

    .cabecalho__titulo--negrito {
        font-weight: 700;
    }
    .opcoes__botao:checked ~ .rotulo-tablet > .destaque {                       /*/**/
        color: white;
        background: var(--cor-fundo-banner);
        padding: 10px;
        margin-right: 22px;
    }
    .cabecalho__container-primario {
        align-items: end;
        padding-right: 30px;
    }

    .cabecalho__container-secundario {
        gap: 45px;
    }
    .lista-menu__item-opcoes:hover {
        background: var(--cor-fundo-banner);
        color: var(--cor-fundo-banner);
    }
    .lista-menu__item-opcoes:hover > .lista-menu__link {
        color: var(--cor-fundo-header);
        -webkit-text-fill-color: var(--cor-fundo-header);
    }
}

/**************************COMPUTADOR*****************************/

@media screen and (min-width: 1728px) {
    .opcoes {
        margin-right: auto;
    }

    .cabecalho__container-secundario a {
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
    }

    .cabecalho__descricao-icone {
        display: block;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
        color: var(--color-dark);
    }

}